@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles */
.bg-organic-green {
    background-color: #B4D59E; /* Light green background */
}

.text-organic-green {
    color: #4B692F; /* Dark green text */
}

.hover-shadow {
    transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
